/* .card {
    
} */

.suggest-tile {
    height: 200px;
    width: 100%;
}

.outer-div {
    display: flex;
    margin-top: 80px;
    /* box-shadow: 5px 10px 10px 10px #B0ACAC; */
}

.message {
    margin-top: -50px;
    margin-left: 30px;
    position: absolute;
    width: 195px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

.container {
    height: 200px;
    width: 253px;
    /* box-shadow: 5px 10px 8px 10px #D9D9D9; */
    border-radius: 25px;
    border: 1px solid #D9D9D9;
    padding-bottom: 310px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 2px 2px 2px 2px #B0ACAC;
}

.suggest-image {
    width: 253px;
    height: 142px;
    margin-left: -12px;
    margin-right: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card text {
    color: black;
}

.suggest-text {
    display: absolute;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.main-div {
    box-shadow: 10 10 10 10px #B0ACAC;
}

git
/* Bottom left text */

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


/* Top left text */

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    text-align: justify;
}

.suggest-description {
    margin-top: 25px;
    padding-top: 25px;
    text-align: justify;
    position: absolute;
    width: 231px;
    height: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #B0ACAC;
}

.hashtags {
    position: absolute;
    width: 122px;
    height: 16px;
    padding-bottom: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10.7586px;
    line-height: 16px;
    /* grey */
    color: #B0ACAC;
}


/* Top right text */

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}


/* Bottom right text */

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.place {
    position: absolute;
    width: 195px;
    height: 30px;
    margin-top: 16px;
    text-align: justify;
    margin-bottom: 11px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}